.wrapper {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper > section {
    text-align: center;
}

.footer {
    text-align: center;
    padding-bottom: 50%;
}

.wrapper{
    display: grid;
    grid-template-columns: 18% 18% 18%;
    grid-gap: 1em;
    grid-auto-rows: 430px;
    align-items: center;
}

.wrapper > section{
    background: rgba(239, 240, 235, 0.867);
    padding:1em;
    box-shadow: 0 0 20px rgba(72,98,85, 0.6);
    border-radius: 10px;
}

.wrapper > section:nth-child(odd){
    background-color: #ddd;
    
}

.wrapper> section:hover {
    transform: scale(.9);
}

.searchbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbar{
    width: 100%;
    margin:1rem;
    padding:0.5rem 0.3rem;
    font-size: 1rem;
}